<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Feature</th>
        <th>SMS</th>
        <th>iMessage</th>
        <th>Facebook Messenger</th>
        <th>WhatsApp</th>
        <th>Signal</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="col">Works on Android and iPhone</th>
        {% include td-footnote.html text="Yes" ref="compression" num="1" %}
        <td>No</td>
        <td>Yes</td>
        <td>Yes</td>
        <td>Yes</td>
      </tr>
      <tr>
        <th scope="col">Groups</th>
        {% include td-footnote.html text="Yes" ref="sms-iphone-android" num="2" %}
        <td>Yes</td>
        <td>Yes</td>
        <td>Yes</td>
        <td>Yes</td>
      </tr>
      <tr>
        <th scope="col">Replies</th>
        <td>No</td>
        <td>Yes</td>
        <td>Yes</td>
        <td>Yes</td>
        <td>Yes</td>
      </tr>
      <tr>
        <th scope="col">Reactions</th>
        <td>No</td>
        {% include td-footnote.html text="Yes" ref="reactions" num="3" %}
        {% include td-footnote.html text="Yes" ref="reactions" num="3" %}
        {% include td-footnote.html text="Yes" ref="reactions" num="3" %}
        <td>Yes</td>
      </tr>
      <tr>
        <th scope="col"><a href="#encryption">Encrypted</a></th>
        <td>No</td>
        <td>Yes</td>
        <td>No</td>
        <td>Yes</td>
        <td>Yes</td>
      </tr>
      <tr>
        <th scope="col"><a href="#open-source">Open source</a></th>
        <td>No</td>
        <td>No</td>
        <td>No</td>
        <td>No</td>
        <td>Yes</td>
      </tr>
    </tbody>
  </table>
</div>
<ol class="footnotes">
  <li id="compression">
    <a href="https://www.androidpolice.com/why-text-message-videos-look-blurry-and-how-to-fix-problem/">Photos and videos get sent with very low quality.</a>
  </li>
  <li id="sms-iphone-android">There are sometimes <a href="https://forums.att.com/conversations/data-messaging-features-internet-tethering/group-texting-between-an-android-and-iphones/5deff166bad5f2f606258e7b">issues with SMS group messages between Android and iPhone devices</a>.</li>
  <li id="reactions">These have limited reaction options.</li>
</ol>
