<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Feature</th>
        <th scope="col">SMS</th>
        <th scope="col">
          <a href="https://en.wikipedia.org/wiki/Rich_Communication_Services"
            >RCS</a
          >
        </th>
        <th scope="col">
          <a
            href="https://support.apple.com/guide/iphone/about-imessage-iph4e9799206/ios"
            >iMessage</a
          >
        </th>
        <th scope="col">
          <a href="https://about.meta.com/technologies/messenger"
            >Facebook/Meta Messenger</a
          >
        </th>
        <th scope="col"><a href="https://www.whatsapp.com/">WhatsApp</a></th>
        <th scope="col">Signal</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Native (no download/signup required)</th>
        <td>Yes</td>
        {% include td-footnote.html text="Yes" ref="rcs" num="1" %}
        <td>No</td>
        <td>No</td>
        <td>No</td>
        <td>No</td>
      </tr>
      <tr>
        <th scope="row">Works on Android and iPhone</th>
        <td>Yes</td>
        <td>
          <a
            href="https://www.cnet.com/tech/services-and-software/ios-18-everything-you-should-know-about-rcs-messaging-on-your-iphone/"
            >Yes</a
          >
        </td>
        <td>No</td>
        <td>Yes</td>
        <td><a href="https://faq.whatsapp.com/2366980643469578/">Yes</a></td>
        <td>Yes</td>
      </tr>
      <tr>
        <th scope="row">High-quality photos and videos</th>
        <td>
          <a
            href="https://www.androidpolice.com/why-text-message-videos-look-blurry-and-how-to-fix-problem/"
            >No</a
          >
        </td>
        <td>
          <a
            href="https://en.wikipedia.org/wiki/Rich_Communication_Services#Features"
            >Yes</a
          >
        </td>
        <td>Yes</td>
        <td>
          <a href="https://www.facebook.com/help/messenger-app/141024792690630/"
            >Yes</a
          >
        </td>
        <td><a href="https://faq.whatsapp.com/453914586839706/">Yes</a></td>
        <td>Yes</td>
      </tr>
      <tr>
        <th scope="row">Groups</th>
        {% include td-footnote.html text="Yes" ref="sms-iphone-android" num="2"
        %}
        <td>
          <a
            href="https://en.wikipedia.org/wiki/Rich_Communication_Services#Features"
            >Yes</a
          >
        </td>
        <td>Yes</td>
        <td>
          <a
            href="https://www.facebook.com/help/messenger-app/1759354747722950/"
            >Yes</a
          >
        </td>
        <td><a href="https://faq.whatsapp.com/3242937609289432/">Yes</a></td>
        <td>
          <a
            href="https://support.signal.org/hc/en-us/articles/360007319331-Group-chats"
            >Yes</a
          >
        </td>
      </tr>
      <tr>
        <th scope="row">Replies</th>
        <td>No</td>
        <td>Yes</td>
        <td>Yes</td>
        <td>Yes</td>
        <td><a href="https://faq.whatsapp.com/3240283752856917/">Yes</a></td>
        <td>
          <a
            href="https://support.signal.org/hc/en-us/articles/6851465208986-Reply-to-a-specific-message"
            >Yes</a
          >
        </td>
      </tr>
      <tr>
        <th scope="row">Reactions</th>
        <td>No</td>
        <td>Yes</td>
        {% include td-footnote.html text="Yes" ref="reactions" num="3" %}
        <td>
          <a href="https://www.facebook.com/help/messenger-app/345021679200618/"
            >Yes</a
          >
        </td>
        <td><a href="https://faq.whatsapp.com/424198503229937/">Yes</a></td>
        <td>
          <a
            href="https://support.signal.org/hc/en-us/articles/360039929972-Message-Reactions"
            >Yes</a
          >
        </td>
      </tr>
      <tr>
        <th scope="row">Edit messages</th>
        <td>No</td>
        {% include td-footnote.html text="No" ref="editing" num="4" %}
        <td>
          <a
            href="https://support.apple.com/guide/iphone/unsend-and-edit-messages-iphe67195653/ios"
            >Yes</a
          >
        </td>
        <td>
          <a href="https://www.facebook.com/help/messenger-app/345021679200618/"
            >Yes</a
          >
        </td>
        <td>Yes</td>
        <td>
          <a
            href="https://support.signal.org/hc/en-us/articles/6255134251546-Edit-Message"
            >Yes</a
          >
        </td>
      </tr>
      <tr>
        <th scope="row"><a href="#encryption">Encrypted</a></th>
        <td>No</td>
        {% include td-footnote.html text="Yes" ref="rcs-encryption" num="5" %}
        <td>
          <a
            href="https://support.apple.com/guide/security/imessage-security-overview-secd9764312f/web"
            >Yes</a
          >
        </td>
        <td>
          <a href="https://www.facebook.com/help/messenger-app/786613221989782/"
            >Yes</a
          >
        </td>
        <td>
          <a href="https://faq.whatsapp.com/820124435853543">Yes</a>
        </td>
        <td>
          <a href="https://en.wikipedia.org/wiki/Signal_Protocol">Yes</a>
        </td>
      </tr>
      <tr>
        <th scope="row">
          Usable without revealing broader contact info (phone number / email)
        </th>
        <td>No</td>
        <td>No</td>
        <td>
          <a
            href="https://www.guidingtech.com/use-imessage-on-iphone-ipad-without-sim-phone-number/"
            >Yes</a
          >
        </td>
        <td>
          <a href="https://www.facebook.com/help/154917244574299/">Yes</a>
        </td>
        {% include td-footnote.html text="No" ref="whatsapp-no-phone" num="6" %}
        <td>
          <a href="https://signal.org/blog/phone-number-privacy-usernames/"
            >Yes</a
          >
        </td>
      </tr>
      <tr>
        <th scope="row"><a href="#open-source">Open source</a></th>
        {% include td-footnote.html text="No" ref="specs" num="7" %} {% include
        td-footnote.html text="No" ref="specs" num="7" %}
        <td>No</td>
        <td>No</td>
        <td>No</td>
        <td><a href="https://github.com/signalapp">Yes</a></td>
      </tr>
    </tbody>
  </table>
</div>
<ol class="footnotes">
  <li id="sms-iphone-android">
    RCS isn't supported by all devices and
    <a
      href="https://en.wikipedia.org/wiki/Rich_Communication_Services#Commercial_deployments"
      >carriers</a
    >
    (yet?).
  </li>
  <li id="sms-iphone-android">
    There are sometimes
    <a
      href="https://forums.att.com/conversations/data-messaging-features-internet-tethering/group-texting-between-an-android-and-iphones/5deff166bad5f2f606258e7b"
      >issues with SMS group messages between Android and iPhone devices</a
    >. Also, people can't be added to an existing chat without losing history,
    nor can they leave / be removed.
  </li>
  <li id="reactions">
    <a href="https://support.apple.com/en-us/104970"
      >Limited reaction options.</a
    >
  </li>
  <li id="editing">
    <a href="https://9to5google.com/2024/07/08/rcs-standard-update/"
      >Coming soon</a
    >, hopefully.
  </li>
  <li id="rcs-encryption">
    At time of writing (12/1/24),
    <a
      href="https://support.google.com/messages/answer/9487020?hl=en#zippy=%2Crcs-chats-with-iphone-users-dont-have-end-to-end-encryption"
      >RCS messages are encrypted in some (but not all) scenarios</a
    >.
    <a
      href="https://en.wikipedia.org/wiki/Rich_Communication_Services#Encryption_support"
      >Technical details.</a
    >
    <table class="table" style="max-width: 25rem">
      <thead>
        <tr>
          <th>Scenario</th>
          <th>Google Messenger only</th>
          <th>Google Messenger + iMessage</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>One-to-one</th>
          <td>Yes</td>
          <td>Yes</td>
        </tr>
        <tr>
          <th>Group</th>
          <td>Yes</td>
          <td>No</td>
        </tr>
      </tbody>
    </table>
  </li>
  <li id="whatsapp-no-phone">
    WhatsApp requires a phone number, but there's
    <a
      href="https://www.lifewire.com/how-to-use-whatsapp-without-phone-number-4781149#toc-how-to-use-whatsapp-using-a-textnow-phone-number"
      >a workaround using a fake one</a
    >.
  </li>
  <li id="specs">
    While the software isn't open source, there are open standards for the
    underlying protocols:
    <a href="https://en.wikipedia.org/wiki/SMS#GSM">SMS</a> and
    <a
      href="https://en.wikipedia.org/wiki/Rich_Communication_Services#Specifications"
      >RCS</a
    >.
  </li>
</ol>
