---
---

$top-margin: 40px;

body {
  // bump the base font size
  // https: //getbootstrap.com/docs/3.4/css/#type-body-copy
  font-size: 16px;
}

.container {
  margin-top: 3em;

  /* corresponds to Bootstrap breakpoint */
  @media (max-width: 768px) {
    margin-top: 0;
  }
}

h1 {
  margin-top: $top-margin;
  margin-bottom: 40px;
}

footer {
  margin: 3em;
}

nav[data-toggle="toc"] {
  padding-top: $top-margin;
}

.task-list-item:has(> .task-list-item-checkbox) {
  // have the checkbox appear in place of the bullet point
  display: block;
  margin-left: -1.2em;
}

input[type="checkbox"].task-list-item-checkbox {
  margin-right: 1rem;
  // https://stackoverflow.com/a/24688640/358804
  transform: scale(1.5);

  &[disabled] {
    display: none;
  }
}

// based on
// https://www.sitepoint.com/accessible-footnotes-css/
.footnote-ref {
  font-size: 0.8em;
  margin-left: 2px;
  vertical-align: super;
}
.footnotes :target {
  background-color: yellow;
}

.youtube-embed {
  aspect-ratio: 16/9;
  max-width: 640px;
  margin: 2em 0;
  width: 100%;
}
